<div class="container">
  <div class="container-photo">
      <% @cocktail.photos.each do |photo| %>
      <%= cl_image_tag photo.path,  :width => 500, :crop => :fit %>
      <% end %>
    <div class="container-title">
     <h1><%= @cocktail.name.upcase %></h1>
    </div>
  </div>

  <div class="container-content">
    <h2>Doses</h2>

    <table id="pure-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cocktail.doses.each do |dose| %>
        <tr>
          <td> <%= dose.description %> of <%= dose.ingredient.name %> </td>
          <td id="remove"><%= link_to dose_path(id: dose.id), method: :delete do %><i class="fa fa-trash"></i><% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="container-links">
      <%= link_to "Add a new dose", new_cocktail_path(cocktail_id: @cocktail.id), {class: "btn btn-primary btn-sm"} %>
    </div>
  </div>
</div>


