
<div class="container">
  <div class="wrap">
    <div class="container-content">
      <h1><%= @cocktail.name %></h1>
      <% @cocktail.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>

      <h2>Doses</h2>
      <h3><% @cocktail.doses.each do |dose| %></h3>
      <h3><%= dose.description %> of <%= dose.ingredient.name %></h3>
      <p><%= link_to "Remove this dose", dose_path(id: dose.id), method: :delete %></p>
      <% end %>
    </div>

    <div class="container-links">
      <div>
        <%= link_to "Add a new dose", new_cocktail_dose_path(cocktail_id: @cocktail.id) %>
      </div>
      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>

